<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Choco -->
	<package id="chocolatey" />
	
	<!-- Browser -->
	<package id="google-chrome-x64" />
	<package id="firefox" />

	<!-- Virtualization -->
	<package id="docker-for-windows " />

	<!-- MS -->
	<package id="vcredist2008" />
	<package id="vcredist2010" />
	<package id="skypeforbusiness" />
	<package id="microsoft-teams " />

	<!-- Editor -->
	<package id="notepadplusplus" />
	<package id="winmerge-jp" />

	<!-- Clipboard -->
	<package id="clipdiary" />

	<!-- Archiver -->
	<package id="7zip.install" />

	<!-- Image -->
	<package id="greenshot" />

	<!-- Media -->	
	<package id="vlc" />
	
	<!-- SNS -->	
	<package id="slack" />
	<package id="whatsapp" />
  
  	<!-- Manuall Install
		Office365
		OneDrive
		PDF-XChange PRO
		Watchtower Library
	-->
  
 </packages>